name: Deploy static content to Pages

on:
  push:
    branches:
      - master

permissions:
  contents: write

jobs:
  deploy-gh-pages:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10

      - name: set Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18.20.8
          cache: pnpm

      - name: update package lockfile
        run: pnpm install --lockfile-only

      - name: package install
        run: pnpm install

      - name: Build
        run: pnpm run build:production

      - name: deploy Documentation
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          branch: ci-github-pages
          folder: ./dist
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4